@font-face {
    font-family: 'biconset-buddy';
    src:url("//q.bstatic.com/backend_static/common/dist/extranet_ng/static/bootstrap/fonts/biconset-buddy/441b4e242f763e0265f45081930100f33a5a5f2a.eot"  );
    src:url("//r.bstatic.com/backend_static/common/dist/extranet_ng/static/bootstrap/fonts/biconset-buddy/441b4e242f763e0265f45081930100f33a5a5f2a.eot?#iefix"  ) format('embedded-opentype'),
    url("//q.bstatic.com/backend_static/common/dist/extranet_ng/static/bootstrap/fonts/biconset-buddy/46c2704c866ddda6e039acecb470ce271edc0927.woff"  ) format('woff'),
    url("//r.bstatic.com/backend_static/common/dist/extranet_ng/static/bootstrap/fonts/biconset-buddy/27a3f49e9507f674182969d0a734d9f7edf8a9bb.ttf"  ) format('truetype'),
    url("//r.bstatic.com/backend_static/common/dist/extranet_ng/static/bootstrap/fonts/biconset-buddy/61f516aefc168a02c3b0db38d4fde8e1f0c83245.svg"  ) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'biconset-buddy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-behint:before {
  content: "\b166";
}

.icon-occupancychild:before {
  content: "\b377";
}

.icon-upchevron:before {
  content: "\b179";
  color: #444;
}

.icon-arrowup:before {
  content: "\b148";
}

.icon-arrowdown:before {
  content: "\b147";
}

.icon-check-alt:before {
  content: "\b259";
}

.icon-switchproperty:before {
  content: "\b370";
}

.icon-food-reversed:before {
  content: "\b324";
}

.icon-downchevron-thin:before {
  content: "\b323";
  color: #000;
}

.icon-upchevron-thin:before {
  content: "\b322";
  color: #000;
}

.icon-p2gcross:before {
  content: "\b315";
}

.icon-occupancyalt:before {
  content: "\b238";
}

.icon-apoor:before {
  content: "\b198";
  color: #444;
}

.icon-checkmark-circle:before {
  content: "\b191";
  color: #444;
}

.icon-triangledown:before {
  content: "\b176";
  color: #444;
}

.icon-printer:before {
  content: "\b14e";
}

.icon-closedlock:before {
  content: "\b146";
}

.icon-btnclose:before {
  content: "\b139";
}

.icon-acedit:before {
  content: "\a013";
}

.icon-rightchevron:before {
  content: "\b09d";
}

.icon-leftchevron:before {
  content: "\b09e";
}

.icon-suitcase:before {
  content: "\b047";
}

.icon-recent:before {
  content: "\b0f8";
}

.icon-p2g-bedpref:before {
  content: "\b348";
}

.icon-p2g-checkin:before {
  content: "\b346";
}

.icon-aconfirmation:before {
  content: "\b231";
}

.icon-restaurants:before {
  content: "\b07a";
}

.icon-breakfast:before {
  content: "\b041";
}

.icon-roomsize:before {
  content: "\b118";
}

.icon-infobold:before {
  content: "\b345";
}

.icon-toiletries:before {
  content: "\b307";
}

.icon-gallery:before {
  content: "\b230";
}

.icon-abell:before {
  content: "\b225";
}

.icon-abus:before {
  content: "\b223";
}

.icon-addcircle:before {
  content: "\b207";
}

.icon-aclose:before {
  content: "\b195";
}

.icon-readguide:before {
  content: "\b186";
}

.icon-checkmark:before {
  content: "\b188";
}

.icon-rightarrow:before {
  content: "\b182";
}

.icon-good:before {
  content: "\b16f";
}

.icon-poor:before {
  content: "\b16e";
}

.icon-pricetag:before {
  content: "\b15c";
}

.icon-coffee:before {
  content: "\b149";
}

.icon-bath:before {
  content: "\b138";
}

.icon-checkyes:before {
  content: "\b12a";
}

.icon-acshare:before {
  content: "\a010";
}

.icon-occupancy:before {
  content: "\31";
}

.icon-group:before {
  content: "\b098";
}

.icon-airport:before {
  content: "\b06d";
}

.icon-shopping:before {
  content: "\b074";
}

.icon-signout:before {
  content: "\b033";
}

.icon-search:before {
  content: "\b012";
}

.icon-concierge:before {
  content: "\b016";
}

.icon-dotcom:before {
  content: "\b018";
}

.icon-wifi:before {
  content: "\b004";
}

.icon-booking:before {
  content: "\b017";
}

.icon-cardback:before {
  content: "\b0f1";
}

.icon-alert:before {
  content: "\b11b";
}

.icon-boost:before {
    content: "\d001";
}

.icon-bookingsuite:before {
    content: "\d000";
}

.icon-arrowright:before {
    content: "\b177";
}

.icon-messagecircle:before {
    content: "\b16b";
}

.icon-geniussquare:before {
    content: "\b164";
}

.icon-genius:before {
    content: "\b163";
}

.icon-ge:before {
    content: "\b162";
}

.icon-star:before {
    content: "\b161";
}

.icon-exclamation:before {
    content: "\b160";
}

.icon-nonsmoking:before {
    content: "\b06c";
}

.icon-tick:before {
    content: "\b058";
}

.icon-tickdot:before {
    content: "\b057";
}

.icon-camera:before {
    content: "\b044";
}

.icon-mybooking:before {
    content: "\b015";
}

.icon-circle:before {
    content: "\b007";
}

.icon-plus:before {
    content: "\b0ef";
}

.icon-users:before {
    content: "\b088";
}

.icon-suitcasevert:before {
    content: "\b089";
}

.icon-speech:before {
    content: "\b08a";
}

.icon-signal:before {
    content: "\b08b";
}

.icon-mobilephone:before {
    content: "\b08c";
}

.icon-location:before {
    content: "\b08d";
}

.icon-key:before {
    content: "\b08e";
}

.icon-graph:before {
    content: "\b08f";
}

.icon-flag:before {
    content: "\b091";
}

.icon-openmail:before {
    content: "\b092";
}

.icon-plusmail:before {
    content: "\b093";
}

.icon-crop:before {
    content: "\b094";
}

.icon-coins:before {
    content: "\b095";
}

.icon-bbooking:before {
    content: "\b097";
}

.icon-arrowleft2:before {
    content: "\b096";
}

.icon-message:before {
    content: "\b086";
}

.icon-share:before {
    content: "\b085";
}

.icon-refresh:before {
    content: "\b084";
}

.icon-alarm:before {
    content: "\b083";
}

.icon-dashboard:before {
    content: "\b082";
}

.icon-warning:before {
    content: "\b117";
}

.icon-bed:before {
    content: "\b049";
}