@{
    ViewData["Title"] = "Home Page";
}
<style>
    .search-panel {
        height:300px;
    }
</style>
<script src="~/Scripts/Angular.js"></script>
<div class="row table-bordered">
    <div class="col-md-6">
        <div class="panel panel-primary search-panel">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                    <form class="row">
                            <div class="col-md-12">
                                <label class="col-md-2 control-label">Location</label>
                                <input type="text" id="" class="form-control input-sm" />
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-2 control-label">From</label>
                                <input type="text"  class="form-control input-sm" />
                            </div>
                          
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Advertisement 1
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Advertisement 1
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>