@{
    ViewData["Title"] = "Home Page";
}
<script src="~/Scripts/Angular.js"></script>


<div ng-controller="myCntrl" ng-app="myApp">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <h1> Hotel Details Page</h1>

    <br />

    <input type="button" class="btnAdd" value=" Add Hotel" ng-click="AddHotelDiv()" />

    <div class="divList">
        <p class="divHead">Hotel List</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
            </tr>
            <tr ng-repeat="Hotel in Hotels">
                <td>
                    {{Hotel.Id}}
                </td>
                <td>
                    {{Hotel.Name}}
                </td>
                <td>
                    <span ng-click="editHotel(Hotel)" class="btnAdd">Edit</span>
                    <span ng-click="deleteHotel(Hotel)" class="btnRed">Delete</span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divHotel">
        <p class="divHead">{{Action}} Hotel</p>
        <table>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="HotelId" />
                </td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="HotelName" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateHotel()" />
                </td>
            </tr>
        </table>
    </div>
</div>